# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenvs
venv/
.venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Data and notebooks
data/
*.csv
.ipynb_checkpoints/

# Distribution
build/
dist/
*.egg-info/

# OS
.DS_Store
